<!DOCTYPE html>
<html>
<head lang=en>
    <meta charset=UTF-8>
    <title></title>
</head>
<body>
<div ng-show=showPassSuccess class="maxWidth reverseLeft">
    <div data-ng-include=templates.successPass>
    </div>
</div>
<div id=forgotPassForm ng-hide=showPassSuccess class=maxWidth>
    <form name=ForgotPasswordForm novalidate class="settings-form-horizontal form-horizontal maxWidth" role=form id=fifthform>
        <div label=Password_Label class="maxWidth paddingOverPass">
            <span lp-i18n="{{'Password_Label'|translate}}" class=settings-label-span> </span>
            <i class="lp-icon infoIcon ng-scope manualIconPass" tooltip="{{'Tip_Password'|translate}}" tooltip-trigger="click" tooltip-append-to-body=true>
                <img class=toolTipImg src=static/features/[BBHOST]/theme-idfc/images/info_hdpi.png></i>
            <div class=maxWidth>
                <input class="settings-form-control form-control input-margin" type=password name=pass ng-model=controlPass.newPassword.value ng-maxlength=15 ng-pattern={{passwordPolicy}} loading=isLoading ng-disabled="disabledConfirmPasswordField" required=true />
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; ForgotPasswordForm.pass.$error.required">Password is required.</small>
                <small class=text-danger ng-show=ForgotPasswordForm.pass.$error.maxlength>Password should be not be more than 15 characters</small>
                <small class=text-danger ng-show=ForgotPasswordForm.pass.$error.pattern>{{'Error_Password_Pattern'|translate}}</small>
            </div>
        </div>
        <div label=Confirm_Password class="maxWidth paddingOverPass">
            <span lp-i18n="{{'Confirm_Password'|translate}}" class=settings-label-span> </span>
            <i class="lp-icon infoIcon ng-scope manualIconPass"tooltip="{{'Tip_Confirm_Password'|translate}}" tooltip-trigger="click" tooltip-append-to-body=true>
                <img class=toolTipImg src=static/features/[BBHOST]/theme-idfc/images/info_hdpi.png></i>
            <div class=maxWidth>
                <input class="settings-form-control form-control" type=password name=confirmPass ng-pattern={{passwordPolicy}} ng-model=controlPass.confirmPassword.value ng-disabled="disabledConfirmPasswordField || ForgotPasswordForm.pass.$error.pattern" loading="isLoading" required="true"/>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; ForgotPasswordForm.confirmPass.$error.required">Please confirm Password.</small>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; errorsConfirmPass.confirmPass">Passwords do not match.</small>
                <small class=text-danger ng-show=registrationForm.pass.$error.pattern>
                    <span class=confirmNotMatch>{{'Error_Password_Pattern'|translate}}</span>
                    <span>{{'Error_Password_Pattern1'|translate}}</span>
                </small>
            </div>
        </div>



        <!--IDFC 2.5-->
        <div ng-show=isMpinLoginFlag class="orStyle">OR</div>
        <div class="changeMpinImgBg" ng-show=isMpinLoginFlag  ng-click="changeMpin()">
            <img  ng-src="{{mpinImagePath}}" class="mpinImg" alt=""/>
            <span class="changeMpinText">Change MPIN</span>
            <span class="nextImg">
                <img  ng-src="{{nextImagePath}}" alt=""/>
                <img  ng-src="{{nextImagePath}}"  alt=""/>
            </span>
        </div>

        <div class="borderLast2 ng-scope" class=maxWidth></div>
        <div class="settings-button-alignForm maxWidth" ng-show=btnFlag>
            <button class="btn btn-sm btn-primary primary-btn-setting primary-btn-btn settingBtn btnRed" ng-click="changePassword(ForgotPasswordForm.$valid)" type=submit>Confirm</button>
            <button type=button class="btn btn-sm btn-primary settings-btn-clear secondary-btn-setting secondary-btn-btn settingBtn btnGrey" ng-click=resetChangePassForm()>Clear</button>
        </div>
        <!--IDFC 2.5-->
    </form>
</div>
<div ng-hide=hideOTPFlag class="settings-otv-div maxWidth">
    <h4>
        <div class="text-success sucessOTP text-center maxWidth" ng-show=success.happened style=text-align:center>
            <div class=maxWidth>
                <img src="static/features/[BBHOST]/theme-idfc/images/tick_mdpi.png"/>
                <img ng-src="{{tick}}"/>
            </div>
            <br/>
            {{ success.msg }}
        </div>
        <div class="text-danger text-center maxWidth" ng-show=error.happened style=text-align:center>{{ error.msg }}</div>
    </h4>
    <form name=OTPform class="settings-form-horizontal form-horizontal maxWidth">
        <div class=maxWidth>
            <span lp-i18n="{{'Mobile_Label'|translate}}" class="settings-label-span setting-margin-left"> </span>
            <i class="lp-icon infoIcon ng-scope manualIcon11" tooltip="{{'Tip_Mobile'|translate}}" tooltip-trigger="click" tooltip-append-to-body=true>
                <img class=toolTipImg src=static/features/[BBHOST]/theme-idfc/images/info_hdpi.png></i>
            <div class=maxWidth>
                <input class="settings-form-control form-control" type=text name=OTPMobile ng-model=customerMobMasked ng-disabled=true />
            </div>
        </div>
        <input style=display:none type=text name="fakeusernameremembered"/>
        <input style=display:none type=password name="fakepasswordremembered"/>
        <div class=maxWidth>
            <span lp-i18n="{{'OTP_Label'|translate}}" class="settings-label-span setting-margin-left"> </span>
            <i class="lp-icon infoIcon ng-scope manualIcon11" tooltip="{{'Tip_OTP'|translate}}" tooltip-trigger="click" tooltip-append-to-body=true>
                <img class=toolTipImg src=static/features/[BBHOST]/theme-idfc/images/info_hdpi.png></i>
            <div class=maxWidth>
                <input class="settings-form-control form-control inputWidth" type=tel name=otp autocomplete=off ng-pattern=/^[0-9]*$/ ng-minlength=6 ng-maxlength=6 ng-model=controlPass.otpValue required=true />
                <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.required">
                    {{'Error_Required_OTP'|translate}}
                </small>
                <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.minlength">
                    {{'Error_Invalid_Length_OTP'|translate}}
                </small>
                <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.maxlength">
                    {{'Error_Invalid_Length_OTP'|translate}}
                </small>
                <small class=text-danger ng-show=OTPform.otp.$error.pattern>
                    {{'Error_Invalid_OTP'|translate}}
                </small>
            </div>
        </div>
        <div class="settings-div-td-dep-ab maxWidth">
            <button class="btn btn-primary settings-btn-align secondary-btn-btn settingBtn btnRed" type=submit name=verifyOTP ng-click="OTPform.submitted=true;verifyChallenge(OTPform.$valid,credentialType)">
                {{'btn_Submit'|translate}}
            </button>
            <button class="btn btn-primary settings-btn-align secondary-btn-setting secondary-btn-btn settingBtn btnGrey" name=resendOTP ng-click="generateOTP('resend')">{{'btn_ResendOTP'|translate}}
            </button>
        </div>
    </form>
</div>

<!-- RSA changes by Xebia start -->

                <div ng-show="showDenyMessage">
                    <div class="rsa-deny-message">
                        {{cqObject.RSA_DENY_MESSAGE}}  
                    </div>
                </div>

                <div ng-show="showCancelTransactionMessage">
                    <div class="rsa-cancel-transaction-message">
                            {{cqObject.CANCEL_TRANSACTION}} 
                    </div>
                    <div class="rsa-button">
                            <button class="btn btn-primary primary-btn-btn primary-btn-ft"
                                type="submit" name="No"
                                ng-click="cancelRSATransaction()">Okay</button>
                    </div>
                </div>

                <div ng-show="showSetupCQMessage" style="margin-left: -7vw;">
                    <p>
                        <center>{{cqObject.SETUP_CQ_MESSAGE}}
                        </center>
                    </p>
                    <div>
                            <button class="btn btn-primary primary-btn-btn primary-btn-ft"
                                type="submit" name="Yes"
                                ng-click="showSetupCQ()">Update Now</button>

                            <button class="btn btn-primary primary-btn-btn primary-btn-ft"
                                type="submit" name="No"
                                ng-click="showSetupCQMessage = false; showCancelTransactionMessage = true;">Cancel</button>
                    </div>
                </div>

                <div ng-hide="hideQuesFlag" style="margin-left: -5%" class="rsa-border-div">
                    
                    <div ng-bind="showCQError" class="rsa-cancel-transaction-message">
                    </div>

                    <!-- <form name="Questionform" class="form-horizontal"> -->
                        <div ng-if="showQuestionDiv">
                            <div >
                                <div class="rsa-margin-top">
                                    <label ng-bind="challengeQuestions" class="rsa-bold-font"></label>
                                    <input class="form-control rsa-answer-input" type="text" name="answer" autocomplete="off" placeholder="Enter answer" ng-model="challengeQuestion.answer"
                                    required="true"/>
                                </div>
                            </div>
                             
                            <div class="rsa-button">
                                <button class="btn btn-primary primary-btn-btn primary-btn-ft"
                                    type="submit" name="verifyAnswers"
                                    ng-click="verifyCQAnswer()"
                                    ng-disabled="!(challengeQuestion.answer)"
                                    lp-i18n="Submit Answer">  
                                </button>
                            </div>
                        </div>

                        <div ng-show="showWrongAnswerMessage" class="rsa-button">
                            <button class="btn btn-primary primary-btn-btn primary-btn-ft"
                                type="submit" name="tryAgain"
                                ng-click="fetchCQ()">Try Again</button>
                        </div>

                    <!-- </form> -->
                </div>

<!--  RSA changes by Xebia ends -->


<!-- <div ng-hide=hideQuesFlag class="settings-ques-div maxWidth">
    <form name=Questionform class="settings-form-horizontal form-horizontal">
        <div ng-if=showQuestionDiv style=margin-top:20px>
            <div ng-repeat="question in challengeQuestions">
                <label>{{question.questionText}} </label>
                <input class="settings-form-control form-control" type=text name=answer placeholder="Enter answer" autocomplete=false ng-model=challengeQuesAnswers[$index].answer required=true ng-disabled=isChallengeDisabled style="width:60%"/>
            </div>
        </div>
        <button class="btn btn-sm btn-primary primary-btn-setting primary-btn-btn" style=margin-left:75%;margin-top:5px type=submit name=verifyAnswers ng-click="Questionform.submitted=true; verifyChallenge(Questionform.$valid,credentialType)"> Submit Answers </button>
    </form>
</div> -->
<div ng-hide=hideCombineFlag class=settings-otpques-div>
    <h4>
        <div class=text-success ng-show=success.happened style=text-align:center>{{ success.msg }}</div>
        <div class=text-danger ng-show=error.happened style=text-align:center>{{ error.msg }}</div>
    </h4>
    <form name=mainform class="settings-form-horizontal form-horizontal">
        <div>
            <div lp-field=lp-field label=Mobile_Label tip class=otp-lp-field>
                <div>
                    <input class="settings-form-control form-control" type=text name=OTPMobile ng-model=customerMobMasked ng-disabled=true style="float:left;width:38%"/>
                </div>
            </div>
            <input style=display:none type=text name="fakeusernameremembered"/>
            <input style=display:none type=password name="fakepasswordremembered"/>
            <div lp-field=lp-field label=OTP_Label class="otp-lp-field otp-lp-field-last" tip="{{'Tip_OTP'|translate}}">
                <div>
                    <input class="settings-form-control form-control" type=tel name=otp autocomplete=off ng-pattern=/^[0-9]*$/ ng-minlength=6 ng-maxlength=6 ng-model=controlPass.otpValue required=true style="-webkit-text-security:disc;width:38%"/>
                    <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.required" style=margin-left:8%!important>{{'Error_Required_OTP'|translate}}</small>
                    <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.minlength" style=margin-left:8%!important>{{'Error_Invalid_Length_OTP'|translate}}</small>
                    <small class=text-danger ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.maxlength" style=margin-left:8%!important>{{'Error_Invalid_Length_OTP'|translate}}</small>
                    <small class=text-danger ng-show=OTPform.otp.$error.pattern style=margin-left:8%!important>{{'Error_Invalid_OTP'|translate}}</small>
                </div>
            </div>
        </div>
        <div class="otp-lp-field otp-lp-field-last">
            <div ng-if=showQuestionDiv style=margin-top:20px>
                <div ng-repeat="question in challengeQuestions">
                    <label>{{question.questionText}} </label>
                    <input class="settings-form-control form-control" type=text name=answer placeholder="Enter answer" autocomplete=false ng-model=challengeQuesAnswers[$index].answer required=true ng-disabled=isChallengeDisabled style="width:60%"/>
                    <input type=hidden ng-value=question.questionId ng-model=challengeQuesAnswers[$index].question />
                </div>
            </div>
        </div>
        <div class="settings-div-td-dep-ab maxWidth">
            <button class="btn btn-sm btn-primary primary-btn-setting primary-btn-btn" type=submit name=verifyAnswers_otp ng-click="mainform.submitted=true; verifyChallenge(mainform.$valid, credentialType)"> Submit </button>
            <button class="btn btn-sm btn-primary secondary-btn-setting secondary-btn-btn" type=button name=resendOTP ng-click="generateOTP('resend')">{{'btn_ResendOTP'|translate}}</button>
        </div>
    </form>
</div>
</body>
</html>