<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Donut Chart component</title>
    <link href="bower_components/theme/themes/default/css/base.css" rel="stylesheet"/>
    <link href="../../../styles/base.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.15/require.js"></script>
    <script src="bower_components/config/requirejs.conf.js"></script>
    <script>
        require([
            'base',
            './scripts/main'
        ], function (base, comp) {

            var demo = base.createModule('demo.donut-chart', [comp.name])
                .controller('MainCtrl', ['$http', function ($http) {
                    var ctrl = this;

                    $http.get('mock/data.json').then(function (res) {
                        ctrl.options = {
                            data: res.data
                        };
                    });
                }]);

            base.bootstrap(document.body, [demo.name]);
        });
    </script>
    <style>
        markdown { display: none; }
    </style>
</head>
<body>

<markdown>
    <% include README.md %>
</markdown>

<div ng-controller="MainCtrl as mainCtrl" class="example" style="max-width: 295px;">
    <lp-donut-chart options="mainCtrl.options"></lp-donut-chart>
</div>

</body>
</html>