.t-date{
	width:22%;
	font-weight:bold;
	font-family:gotham_book,Calibri !important;
	font-size:16px !important;
	text-align: center;

}
.particular{
	width:22%;
	font-weight:bold;
	font-family:gotham_book,Calibri !important;
	font-size:16px !important;
	text-align: center;
}

.d-amount{
	width:22%;
	font-weight:bold;
	font-family:gotham_book,Calibri !important;
	font-size:16px !important;
	text-align: center;
}

.c-amount{
	width:22%;
	font-weight:bold;
	font-family:gotham_book,Calibri !important;
	font-size:16px !important;
	text-align: center;
}

.c-balance{
	width:12%;
	font-weight:bold;
	font-family:gotham_book,Calibri !important;
	font-size:16px !important;
	text-align: center;
}

.table-show {

    border-collapse: collapse;
    border-spacing: 0;

}

.table-show td {
    border: solid 1px ;


}
.table-horizontal tbody td {
    border-left: none;
    border-right: none;
    text-align: center;
}
.lbl-account-list{
	font-size:14px !important;
	font-family:gotham_book,Calibri !important;
	line-height:15px !important;
	color:#1D1D26 !important;

}
