<div ng-controller="LAPRepaymentScheduleCtrl as lapRsCtrl">
	
	<div ng-if="lapRsCtrl.errorSpin">
		<div class="panel-message loading-panel" role="alert">
			<i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i> <span
				class="sr-only">Busy</span>
		</div>
	</div>

	<div class="container">
	
		<div ng-include="lapRsCtrl.templates.header"></div>		
		
		
		<div ng-include="lapRsCtrl.templates.details"></div>		
		
		
		<div ng-include="lapRsCtrl.templates.footer"></div>		
		
	</div>
	
</div> 