<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="panel-body">
    <div class="connection-feedback">
        <p >
        <center>
            <h4>
                <div class="forgetPassword-success-msg">
                    <strong class="AllText">{{ 'Password_Changed_text1'| translate }}</strong><br>
                    {{ 'Password_Changed_text2'| translate }}
                </div>
            </h4>
        </center>
        </p>
        <center><button type="button" class="marginTopNext btn btn-sm btn-primary forgetPassword-primary-btn-forgot" ng-click="getBack()">LOGIN NOW</button></center>
    </div>
</div>
</body>
</html>