
        <!-- popup form #1 -->
        <a href="#x" class="" id="login_form"></a>
        <div class="font-appVersionCheck">
            <p>{{alertMsg}}</p>
            <div class="marginB" ng-show="contactCallCenterLink"><a href="#">Contact call centre</a></div>
            <div class="marginB" ng-show="loginLink" ng-click="openExistingLogin()"><a href="#">Login with Username and Password</a></div>
            <div class="marginB" ng-show="sentupMPINLink" ng-click="setupMpin()"><a href="#">Set new MPIN</a></div>
            <button class="red" ng-click="openOTPSendDialog()">OK</button>
			
        </div>
        
        
        
        
         