<div class="panel panel-default" ng-if="fiModel.selected">
    <div class="panel-heading selected-fi">
        <div class="col-xs-2 col-lg-1">
            <span ng-show="fiModel.selected.isConnecting"><i class="lp-icon {{fiModel.selected.icon}}"></i></span>
            <span ng-show="!fiModel.selected.isConnecting"><i class="glyphicon glyphicon-ok"></i></span>
        </div>
        <div class="col-xs-10 col-xs-11">
            <div ng-show="fiModel.selected.isConnecting">
                <span class="h4">{{fiModel.selected.name}}</span><br />
                <span>Set up may take a few minutes... No need for you to wait around!</span>
            </div>
            <div ng-show="!fiModel.selected.isConnecting">
                <span>PAN Number not updated!!!</span>
            </div>
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="connection-feedback">
        <p class="h4 text-center" ng-show="!fiModel.selected.isConnecting">You cannot proceed further unless your PAN is updated.</p>
        <p ng-show="fiModel.selected.isConnecting">This may take a while,<br /> no need for you to wait around!<br /><a>Cancel adding {{fiModel.selected.name}}</a></p>
    </div>
    <button ng-click="restartWizard()" class="btn btn-primary col-xs-12 col-md-6 col-md-offset-3 primary-btn-open">Update PAN</button>
	<button ng-click="wizardNextStep()" class="btn btn-primary col-xs-12 col-md-6 col-md-offset-3 primary-btn-open">Proceed</button>
    <button type="button" ng-click="close()" class="btn btn-link col-xs-12 col-md-6 col-md-offset-3 secondary-btn-open">Exit</button>
</div>