{namespace templates_SpringboardContainer}
/**
 * Div Layout
 * @param item Item in context
 */
{template .SpringboardContainer}
        <div data-pid="{$item.name}" class="bp-container lp-springboard-container"></div>
{/template}



