<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
										
						<div class="error">
							<!--<img src="/portalserver/static/idfc/universal/widgets/idfc-mb-set-fingerprint/media/error.png" alt=""/>-->
							 <span class="errorImg"><img ng-src={{imagePath}} alt=""/></span>
							{{authMesssage}}</div>
							<br>
							
							</header>
						
						<footer>
							
							<!--<button class="marginTop" ng-click="loadLoginPage()"><p class="red">Continue to Login</p></button>-->
						
						</footer>
					</section>

			</div>