<!DOCTYPE html>
<html>
<head lang=en>
    <meta charset=UTF-8>
    <title></title>
</head>
<body>
<div ng-show=showSuccessForm>
    <div data-ng-include=templates.successful></div>
</div>
</div>
<div id=ForgotPasswordForm ng-hide=showSuccessForm>
    <form name=ForgotPasswordForm novalidate class="forgetPassword-form-horizontal form-horizontal" role=form id=fifthform>
        <input style=display:none type=text name="fakeusernameremembered"/>
        <input style=display:none type=password name="fakepasswordremembered"/>
        <div lp-field=lp-field label=Password_Label for=inputPassword class="forgotPassword-input-width labelTopBottom" tip="{{'Tip_Password'|translate}}">
            <div>
                <input class=forgetPassword-form-control type=password name=inputPassword ng-model=control.password.value ng-maxlength=15 ng-pattern={{passwordPolicy}} loading=isLoading loading=isLoading required=true autofill=off autocomplete=off onpaste="return false" onCopy="return false" onCut="return false" required="true"/>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; ForgotPasswordForm.inputPassword.$error.required">{{'Password_Required'|translate}}</small>
                <small class=text-danger ng-show=ForgotPasswordForm.inputPassword.$error.maxlength>{{'Password_MaxLength'|translate}}</small>
                <small class="text-danger password-policy-forgetPassword" ng-show=ForgotPasswordForm.inputPassword.$error.pattern>{{'Error_Password_Pattern'|translate}}</small>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; errors['containsLoginId']">{{'Error_Password_Invalid'|translate}}</small>
            </div>
        </div>
        <div lp-field=lp-field label=Confirm_Password class=forgotPassword-input-width tip="Please re-enter your password">
            <div>
                <input class=forgetPassword-form-control type=password name=confirmPass ng-pattern={{passwordPolicy}} ng-model=control.confirmPassword.value ng-disabled=ForgotPasswordForm.inputPassword.$error.pattern loading=isLoading required=true autofill=off id=confirmPass autocomplete=off onpaste="return false" onCopy="return false" onCut="return false"/>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; ForgotPasswordForm.confirmPass.$error.required &amp;&amp; !errorsConfirmPass['confirmPass']">{{'ConfirmPassword_Required'|translate}}</small>
                <small class=text-danger ng-show="ForgotPasswordForm.submitted &amp;&amp; errorsConfirmPass['confirmPass']">{{'Password_Match'|translate}}</small>
                <small class=text-danger ng-show=registrationForm.pass.$error.pattern>{{'Error_Password_Pattern'|translate}}</small>
            </div>
        </div>
        <div class=borderTop></div>
        <div class="div-td-dep-ab text-center">
            <button class="btn btn-primary btn-align forgetPassword-primary-btn-forgot ng-binding btn-submit marginTopNext" ng-click="ForgotPasswordForm.submitted=true; changePassword(ForgotPasswordForm.$valid)" type=submit>{{'btn_Next'|translate}}</button>
            <button type=button class="btn btn-sm btn-primary forgetPassword-secondary-btn-forgot btn-clear marginTopClear" ng-click="ForgotPasswordForm.submitted=false; resetShowForgotPasswordForm()">{{'btn_Clear'|translate}}</button>
        </div>
    </form>
</div>
</body>
</html>