<div class="sucessMsg errorMsg">
    Failed
</div>
<div class="add-biller-confirm-div">
    <div class="successMsg1 errorMsg1">
        <span>Your mobile recharge of <span class="rupee-symbol-span"></span>.{{amount | currency:' '}} for <span class="yellowText">{{rechargeProviderSelected}} </span> has been Failed. Please try after some time</span>
    </div>
</div>
<div class="marginTopBtn">
    <div class="borderTop"></div>
    <button class="btn btn-primary primary-btn-btn ng-binding otpbuttonwidth successbutton" ng-click="doAnother()" type="submit" name="doAnother">ANOTHER RECHARGE</button>
</div>