<div class="ng-cloak" ng-controller="AccountsController">
	<div class="lp-widget-content" id="checkRequest">
		<div ng-if="errorSpin">
			<div class="panel-message loading-panel" role="alert">
				<i class="lp-icon lp-icon-spinner2 lp-spin loading-icon"></i>
				<span class="sr-only">Busy</span>
			</div>
		</div>
		<div class="lp-alerts">
			<div alert="alert" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
		</div>
		<div ng-hide="serviceError">
			<!--  Body Content -->
			<div class="lp-widget-body widget-body panel-body">
				<div ng-show="showServiceRequestNo" style="text-align:center">
					<div class="showMsg" >
						{{'SRNumber'|translate}} <span class="SRcolor">{{serviceRequestNo}}</span>
					</div>
					<div class="borderLast"></div>
					<div >
						<button type="submit" aria-label="Submit"
								class="btn btn-primary primary-btn-btn open-margin" name="submitForm"
								ng-click="openNewReq()"
								lp-i18n="Open new Service Request"></button>
					</div>
				</div>
				<div ng-show="!showServiceRequestNo" >
					<form novalidate=""  class="form-horizontal" role="form" name="chequebookForm" id="chequebookForm"  >
						<div class="serviceRequest-chk-parent-div">
							<div class="serviceRequest-chk-tr-dep">
								<div class="serviceRequest-chk-td-dep serviceRequest-font-label-chk labelText" id="account name">
									<label for="account name" class="label-font" lp-i18n="Account_Number" ></label>
								</div>
								<div class="serviceRequest-chk-td-dep text-center">
									<select id="accountname" required="true" name="accountname" class="serviceRequest-check-control IDFC-dropdown"  ng-change="getChequeLeaves()" ng-model="accountDetails.accountNumber" ng-options="a.id as a.id for a in accountNumbers" ng-disabled="lockFields">
										<option value= "">{{'Select_Account'|translate}}</option>
									</select>
									<div class="serviceRequest-dep-messages">
										<small class="text-danger" ng-show="chequebookForm.submitted  &amp;&amp; chequebookForm.accountname.$error.required">{{'Account_Number_Required'|translate}}</small>
									</div>
								</div>
							</div>
							<div class="serviceRequest-chk-tr-dep">
								<div class="serviceRequest-chk-td-dep serviceRequest-font-label-chk labelText">
									<label for="chequebookleaves" class="label-font" lp-i18n="Chequebook_Leaves"></label>
								</div>
								<div class="serviceRequest-chk-td-dep">
									<select id="chequebookleaves" required="true" name="chequebookleaves" class="serviceRequest-check-control IDFC IDFC-dropdown" ng-model="chequebook.chequebookleaves.value" ng-options="item as item for item in chequeLeaves" ng-disabled="lockFields">
										<option value= "">{{'Select_ChequeLeaves'|translate}}</option>
									</select>
									<div class="serviceRequest-dep-messages">
										<small class="text-danger" ng-show="chequebookForm.submitted  &amp;&amp; chequebookForm.chequebookleaves.$error.required">{{'Cheque_book_Leaves_Required'|translate}}</small>
									</div>
								</div>
							</div>
							<fieldset class="serviceRequest-fieldset-align" ng-disabled="true">
								<div class="serviceRequest-chk-tr-dep ">
									<div class="comm">{{'CommAddress_cheque'|translate}}</div>
									<div class="serviceRequest-chk-td-dep serviceRequest-font-label-chk labelText">
										<label for="addressLine1" class="label-font" lp-i18n="Communication_Address"></label>
									</div>
									<div class="serviceRequest-chk-td-dep">
										<textarea type="text" id="addressLine1" style="height:70px;" name="addressLine1" class="commAddr serviceRequest-check-control serviceRequest-wrap-text" ng-disabled="lockFields"   ng-model="accountDetails.address"  required="true" />

									</div>
									<div class="borderTop"></div>
								</div>
							</fieldset>
						</div>
						<div ng-show="chequebookButton" class="modal-footer serviceRequest-chk-btn">
							<div>
								<button type="submit" aria-label="Submit Transfer"
										class="btn btn-primary primary-btn-create-track primary-btn-btn sub-track" name="submitForm"
										ng-click="chequebookForm.submitted=true;submitChequeBookForm(chequebookForm.$valid);"
										lp-i18n="Submit"></button>
								<button name="resetForm"
										aria-label="Clear form"
										class="btn secondary-btn-create-track secondary-btn-btn"
										ng-click="chequebookForm.submitted=false;clearChequebookForm()"
										type="button"
										lp-i18n="Clear">
								</button>
							</div>
						</div>
						<div ng-show="confirmButton" class="modal-footer serviceRequest-chk-btn">
							<div>
								<button type="submit" aria-label="Submit Transfer"
										class="btn btn-primary primary-btn-create-track primary-btn-btn sub-track" name="submitForm"
										ng-click="submitChequeBookConfirmForm();"
										lp-i18n="Confirm"></button>
							</div>
						</div>
					</form>
				</div>
				<div ng-hide="OTPFlag" class="OtpInputWidth serviceRequest-otp-div">
					<h4>
						<div class="text-success sucessOTP" ng-show="success.happened" style="text-align:center">
							<div class="img_paddingchqBq"><img src="static/features/[BBHOST]/theme-idfc/images/tick_mdpi.png"/>
								<img ng-src="{{tick_mdpi}}"/>
							</div>
							{{ success.msg }}
						</div>
						<div class="text-danger text-error" ng-show="error.happened">{{ error.msg }}</div>
					</h4>
					<form name="OTPform" class="form-horizontal">
						<div lp-field="lp-field" class="label-font" label="Mobile_Label" tip="" class="mobile-otp-label">
							<div>
								<input class="serviceRequest-otp-input-width"	type="text"	name="OTPMobile" ng-model="customerMobMasked" ng-disabled="true" />
							</div>
						</div>
						<input style="display:none" type="text" name="fakeusernameremembered"/>
						<input style="display:none" type="password" name="fakepasswordremembered"/>
						<div lp-field="lp-field" label="OTP_Label" class="label-font" class="OtpInput"
							 tip="{{'OTP_tip'|translate}}">
							<div>
								<input class="serviceRequest-otp-input-width" type="tel" autofill="off" autocorrect="off" autocapitalize="off"
									   autocomplete="off" onpaste="return false;" onCopy="return false" onCut="return false" name="otp"
									   ng-pattern="/^[0-9]*$/" ng-minlength="6" ng-maxlength="6" ng-disabled="lockFieldsOTP"
									   ng-model="control.otpValue" required="true" style="-webkit-text-security:disc"/>
								<small class="text-danger"  ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.required">{{'Error_Required_OTP'|translate}}</small>
								<small class="text-danger"  ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.minlength">{{'Error_Invalid_Length_OTP'|translate}}</small>
								<small class="text-danger"  ng-show="OTPform.submitted &amp;&amp; OTPform.otp.$error.maxlength">{{'Error_Invalid_Length_OTP'|translate}}</small>
								<small class="text-danger"  ng-show="OTPform.otp.$error.pattern">{{'Error_Invalid_OTP'|translate}}</small>
							</div>
						</div>
						<div class="serviceRequest-div-td-dep-ab">
							<div class="serviceRequest-otp-child">
								<button class="btn btn-primary btn-align primary-btn-btn btn-sub"  type="submit" ng-disabled="lockFieldsOTP" id="verifyOTP-btn-cheque-book" name="verifyOTP" ng-click="OTPform.submitted=true; submitChequebookFormOTP(OTPform.$valid)">{{'btn_Submit'|translate}}</button>
								<button class="btn btn-primary btn-align secondary-btn-btn btn-resend"  type="button" ng-disabled="lockFieldsOTP" name="resendOTP" ng-click="generateOTP('resend')">{{'btn_ResendOTP'|translate}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
