<!DOCTYPE html>
<html>
<head lang=en>
    <meta charset=UTF-8>
    <title></title>
</head>
<body>
<div class=panel-body>
    <div class=connection-feedback>
        <p>
        <center>
            <h4>
                <div class=img_padding>
                    <img src="static/features/[BBHOST]/theme-idfc/images/tick_mdpi.png"/>
                    <img ng-src="{{tick}}"/>
                </div>
                <br/>
                <div class="successMsg successBold">{{ 'Password_Changed_cong'| translate }}</div>
                <div class="successMsg successPass">{{ 'Password_Changed1'| translate }}</div>
            </h4>
    </div>
    </center></h4>
    </center></p>
    <div class=borderLast3></div>
    <center><button type=button class="btn btn-sm btn-primary primary-btn-setting settingBtn btnRed" data-action=widget-refresh ng-click="goBack();forms.changeAPINForm.submitted=false; oldPwdForm.submitted=false;">Go Back</button></center>
</div>
</body>
</html>