<!DOCTYPE html>
<html>
<head lang=en>
    <meta charset=UTF-8>
    <title></title>
</head>
<body>
<div class=panel-body>
    <div class=connection-feedback>
        <p>
        <center>
            <h4>
                <div class=img_padding>
                    <img src="static/features/[BBHOST]/theme-idfc/images/tick_mdpi.png"/>
                    <img ng-src="{{tick}}"/>
                </div>
                <br/>
                <div class="successMsg successPass successBold">{{ 'Password_Changed'| translate }}</div>
                <div class="successMsg successPass">{{ 'Success_Msg'| translate }}</div>
                </h4>
        </center>
    </div>
    </center></h4>
</div>
</body>
</html>