<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idfcbank.mobileBanking"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk tools:overrideLibrary="android.support.v7.recyclerview,
    android.support.design,
    android.support.graphics.drawable,
    android.support.fragment,
    android.support.v7.appcompat,
    android.support.v4,
    android.support.compat,
    android.support.mediacompat,
    android.support.coreutils,
    android.support.coreui"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"
        android:smallScreens="true" />


    <application
        tools:replace="android:allowBackup"
        android:name="com.idfcbank.mobileBanking.RetailApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/appiconcoloured"
        android:logo="@drawable/appiconcoloured"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:exported="false">

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <!--TODO: Push Notification-->

        <service
            android:name="fcm.FcmMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="fcm.FcmInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />

        <activity
            android:screenOrientation="portrait"
            android:name="com.idfcbank.mobileBanking.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MainActivity"
            android:windowSoftInputMode="stateUnchanged|adjustResize"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <receiver android:name=".SMSBoardcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            </receiver>
    </application>

</manifest>