<div id="wrapper">

	<!-- Main -->
	<section id="main">
		<ul class="alert marginBttm">
			<li>MPIN Registration</li>

		</ul>
		<header>
			<h1>Congratulations!</h1>
			<p>
				You have successfully setup your <br> MPIN
			</p>

			<p class="marginTop">
				Now you can use MPIN to <br> Login to mobile banking
			</p>

			<span class="avatar2"><img src="images/lock.png" alt="" /></span>
		</header>


		<footer>

			<button class="marginTop">
				<p class="red">Continue to Login</p>
			</button>

		</footer>
	</section>

</div>