		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
					  <header>
						  	  <p class="contTxt">Mobile Number</p>	
						  <span class="avatar"> <input type="email" class="form-control" id="inputEmail" value="{{mobileNo}}" readonly="readonly"></span>	
						  
						    	  <p class="contTxt">OTP</p>	
						  <span class="avatar"> <input type="email" class="form-control" id="inputEmail" ></span>				
						  
						  <br>
<br>
<br>

			  		  </header>
					
						<footer>
			
							<div class="main">
								<a href="#login_form"><button class="red" id="login_pop">VERIFY</button></a>
								
								<button class="btn-whitePop">RESEND OTP</button>
								
							</div>
							
							<p></p>
							


						</footer>
					</section>

			</div>


