.full-width {
    width: 100% !important;
}

input[type="text"] {
    font: -webkit-control;
}

.head-float {
    float: left;
    word-wrap: break-word
}

.view-bill-th {
    width: 15%;
    border-style: solid;
    border-color: #AEAEAE;
    border-width: 1pt
}

.view-bill-td {
    word-wrap: break-word;
    max-width: 15%;
    width: 15%;
    font-weight: 400
}

.view-th-btn {
    width: 12%!important
}

.view-td-btn {
    max-width: 12%;
    width: 12%;
    margin-left: 9%
}

@media (min-width:992px) and (max-width:1266px) {
    .view-bill-th-lg {
        text-align: center;
        width: 20%!important;
        border-style: solid;
        border-color: #AEAEAE;
        border-width: 1pt
    }
    .view-bill-td-lg {
        word-wrap: break-word;
        max-width: 20%!important;
        text-align: center;
        width: 20%!important;
        font-weight: 400
    }
    .view-th-btn-lg {
        width: 17%!important
    }
    .view-td-btn-lg {
        max-width: 17%!important;
        width: 17%!important;
        margin-left: 9%
    }
}

@media (min-width:360px) and (max-width:991px) {
    .disp-none {
        display: none!important
    }
    .view-bill-td {
        word-wrap: break-word;
        max-width: 15%;
        width: 25%;
        font-weight: 400
    }
}

@media (min-width:992px) and (max-width:1266px) {
    .view-bill-th-lg {
        text-align: center;
        width: 20%!important;
        border-style: solid;
        border-color: #AEAEAE;
        border-width: 1pt
    }
    .view-bill-td-lg {
        word-wrap: break-word;
        max-width: 20%!important;
        text-align: center;
        width: 20%!important;
        font-weight: 400
    }
    .view-th-btn-lg {
        width: 17%!important
    }
    .view-td-btn-lg {
        max-width: 17%!important;
        width: 17%!important;
        margin-left: 9%
    }
    .disp-none {
        display: none!important
    }
}

.image-notepad {
    margin-left: 1.5%;
    position: absolute;
    margin-top: 2%
}

.text-danger1 {
    font-family: "gotham_book"!important;
    color: #d0021b!important;
    font-weight: 400!important
}

.viewBill-error {
    color: #a94442
}

.viewBill-centerAlign {
    position: relative;
    padding-top: 40pt!important;
    padding-bottom: 40pt!important;
    padding-left: 100pt!important;
    border-bottom: #EAEAEA;
    border-bottom-width: 2pt;
    border-bottom-style: solid
}

@media (min-width:530px) {
    .billconfirm-details {
        margin-left: 10%!important;
        padding-top: 0!important;
        min-width: 38%!important
    }
    .payBill-confirm-upper-div {
        background-color: #EAEAEA;
        padding-top: 20pt;
        padding-bottom: 20pt
    }
    .payBill-confirm-lower-div {
        position: relative;
        padding: 40pt
    }
    .billpay-confirm-label-width {
        min-width: 175px;
        color: #AEAEAE
    }
    .bill-pay-confirm-right-block {
        margin-right: 20px;
        margin-top: 200px
    }
}

@media (max-width:530px) {
    .billconfirm-details {
        margin-left: 0!important;
        padding-top: 0!important;
        min-width: 40%!important
    }
    .payBill-confirm-upper-div {
        background-color: #EAEAEA;
        padding-top: 20pt;
        padding-bottom: 20pt
    }
    .payBill-confirm-lower-div {
        position: relative;
        padding: 20pt
    }
    .billpay-confirm-label-width {
        min-width: 125px;
        color: #AEAEAE
    }
    .bill-pay-confirm-right-block {
        margin-right: 20px
    }
}

.billDetails-Confirm-prm-button {
    height: 40px!important;
    width: 80pt!important
}

.paybills-success-prm-button {
    height: 40px!important;
    border-radius: 2px;
    margin-bottom: 0!important
}

.paybills-success-lower-div {
    position: relative
}

.lp-contacts .panel-body {
    height: auto
}

.view-heading-width {
    width: 20%!important;
    font-weight: 700;
    text-align: center
}

.lp-contacts .form-group {
    position: relative;
    clear: both;
    padding-top: 20px
}

.new-add-pay {
    text-align: left;
    padding-top: 6px
}

.add-div-td-dep-note {
    position: relative;
    min-width: 60%;
    float: left;
    padding-right: 3%;
    text-align: left;
    font-size: 10px;
    margin-left: 12px
}

.addficiary-control {
    width: 197px;
    height: 40px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.add-floatLeft {
    float: left;
    margin-left: 10px
}

.add-form-div {
    text-align: left;
    padding-top: 6px;
    min-width: 40%
}

.add-acc-type-add {
    width: 195px
}

.add-div-td-dep-ab {
    float: right;
    padding-right: 3%;
    text-align: right;
    position: relative;
    min-width: 60%;
    padding-top: 40px
}

.col-contact-form {
    padding-left: 100px;
    background-color: #F5F5F5!important
}

.add-panel-body {
    padding-right: 0
}

.add-pad-left {
    padding-left: 0!important
}

.add-bill-billdetails-bill {
    font-size: 16px;
    margin-left: 11px;
    margin-bottom: 3%
}

.add-bill-billdetails {
    font-size: 18px;
    margin-top: 16px;
    position: relative;
    margin-bottom: 18px;
    font-family: gotham_book, calibri
}

.add-bill-label-second {
    position: relative;
    left: 177pt;
    font-size: 14px;
    font-family: gotham_book, calibri
}

.add-bill-label {
    position: relative;
    font-size: 14px;
    font-family: gotham_book, calibri
}

@media (min-width:392px) and (max-width:720px) {
    .viewBill-error {
        color: #a94442;
        margin-left: 0;
        max-width: 200px
    }
    .add-bill-label {
        left: 0
    }
}

.add-bill-select-left {
    margin-bottom: 12px;
    position: relative
}

@media (min-width:392px) and (max-width:720px) {
    .add-bill-select-left {
        left: 0
    }
}

.add-bill-autopay {
    font-size: 16px;
    float: left;
    text-align: left;
    clear: left;
    margin-top: 4%;
    margin-bottom: 2%
}

.add-bill-auth {
    margin-bottom: 12px
}

.add-bill-otp-message {
    float: left;
    margin-left: 21%;
    margin-top: 3%
}

.add-bill-aaount-for-pay {
    clear: left
}

.add-bill-input {
    margin-top: -1px
}

.add-bill-label-main {
    margin-left: 16px
}

.add-bill-first-div {
    margin-left: -22%;
    padding-bottom: 40px
}

@media (min-width:392px) and (max-width:720px) {
    .add-bill-first-div {
        margin-left: 0
    }
}

.add-bill-span {
    font-family: gotham_light;
    font-size: 11px
}

.add-bill-new-label {
    margin-bottom: 12px;
    position: relative;
    left: 58px
}

.add-bill-input-drop {
    margin-bottom: -5px;
    position: relative;
    left: 58px
}

.add-bill-new-span {
    float: right;
    top: -23px!important;
    left: 46px
}

.add-bill-inr {
    margin-bottom: 12px;
    width: 118px;
    margin-left: 56px
}

.add-bill-frequency {
    margin-bottom: 12px;
    margin-left: 56px
}

.add-bill-calendar {
    float: right;
    top: -23px!important;
    left: 46px
}

.add-bill-clear {
    clear: left
}

.addbiller-confirm {
    margin-left: 22px
}

.pay-bills-success-div {
    min-height: 202px;
    text-align: center;
    margin-top: 35px
}

.UNPAID {
    color: red
}

.PAID {
    color: green
}

.lp-icon-calendar:before {
    content: "\e636"!important
}

.paybills-success-lower-div {
    width: 100%!important
}

.bill-pay-confirm-right-block {
    margin-right: 0!important
}

.billTableForm {
    overflow-x: hidden
}

.fontFamily {
    font-family: gotham_book!important
}

.headerLeft {
    padding-left: 4.75%
}

.dueDtHeader {
    padding-left: 3.75%
}

.glyphicon {
    color: #fb637e
}

.paybills-success-prm-button {
    width: 87.5%!important;
    margin-left: 6.25%;
    border-radius: 2px!important
}

.fontavlBalance {
    font-family: gotham_medium!important;
    display: inline!important
}

.margTop {
    margin-top: 5%!important
}

.margTop1 {
    margin-top: 1.5%!important
}

.topClass {
    margin-top: 2%!important
}

.noteDiv {
    margin-left: 6.25%;
    margin-top: 6%;
    margin-right: 6.25%
}

.noteDetail {
    margin-top: 3%
}

.payBill-confirm-upper-div .clearfix .pull-left {
    margin-left: 6.25%!important
}

.fontDetail {
    color: #666!important
}

.add-bill-auth {
    padding-left: 0!important
}

.text-center {
    text-align: center!important;
    float: none!important
}

.dueDtClass {
    padding-left: 28.62%!important;
    left: 0!important
}

.colonAdjust {
    left: 0!important
}

.ipBoxes {
    font-family: gotham_book!important
}

.colon-class {
    margin-left: .5%!important;
    margin-right: .5%!important;
    float: none!important;
    font-family: gotham_book!important
}

.balance-class {
    float: none!important;
    left: 0!important
}

.dueDt {
    left: -22%!important;
    font-family: gotham_book!important;
    position: relative
}

.blackColor {
    color: #000
}

.borderLine {
    margin-bottom: 5%;
    background-color: #eaeaea!important;
    height: 1px!important
}

.borderLineSucPage {
    margin-bottom: 20px;
    background-color: #eaeaea!important;
    height: 1px!important;
    margin-top: 27%!important
}

.auth-lbl-float {
    float: none!important;
    margin-left: 0!important
}

.tickDiv {
    margin-top: 46%!important;
    margin-bottom: 5%
}

.lastBtn {
    margin-left: 6.25%!important;
    width: 87.5%!important
}

.sucDiv {
    margin-left: 6.25%;
    margin-right: 6.25%
}

.sucMsg {
    font-family: gotham_medium!important
}

.success-lbl {
    float: left;
    text-align: left;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%
}

.success-lblvalue {
    float: left;
    text-align: left;
    width: 50%
}

.btnPay {
    text-transform: uppercase;
    margin-left: 8%!important;
    width: 84.25%!important;
    border-radius: 2px!important;
    margin-bottom: 0!important;
    margin-top: 2%!important
}

.disClaimerClass {
    margin: 5% 6.25%!important
}

.margTop {
    margin-top: 2.5%
}

.payBill-confirm-upper-div {
    padding-bottom: 4%
}

.add-bill-aaount-for-pay {
    margin-left: 6.25%
}

.ipClass {
    width: 92.5%;
    border-radius: 2px!important
}

.labelClass {
    font-family: gotham_medium!important;
    color: #4a4a4a!important
}

select {
    background-image: url(../../../../../static/features/[BBHOST]/theme-idfc/images/Dropdown_mdpi.png)!important;
    -webkit-appearance: none!important;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    border-radius: 2px!important
}

.borderClass {
    border: 1px solid #ccc!important
}

.bottomZero {
    margin-bottom: 0!important
}

.payBill-confirm-upper-div {
    background-color: RGBA(234, 234, 234, 0.5)!important
}

.dtLabel {
    left: 3.4%
}

.headTop {
    margin-top: 3%!important
}

.smallTxtBox {
    width: 20.5%!important;
    text-align: center;
    margin-left: .9%
}

.rupeeCustomClass {
    z-index: 999;
    left: 0;
    padding-left: 13.68%;
    position: absolute
}

.billDetailsHeader {
    margin-top: 4%
}

.borderLine1 {
    background-color: #eaeaea!important;
    height: 1px!important
}

.borderColor {
    border-color: RGBA(174, 174, 174, 0.5)!important
}

.tableHeader {
    background-color: RGBA(234, 234, 234, 0.5)!important;
    width: 100%;
    font-family: gotham_medium!important
}

.textAlign {
    text-align: right!important
}

.billDetailDiv {
    padding-top: 20pt;
    padding-bottom: 20pt;
    border-bottom-width: 1pt;
    border-bottom-style: solid;
    border-bottom-color: #EAEAEA
}

.NoteClass {
    color: #FF8F1B!important;
    font-family: gotham_medium!important
}

.rightArrow {
    width: 8.5%!important
}

.borderStyle {
    border-style: solid;
    border-width: 1pt
}

.note-input {
    padding-left: 4%!important;
    font-family: gotham_medium!important
}

.success-detail {
    width: 30%
}

.success-detail-value {
    font-weight: 400!important;
    font-family: gotham_medium!important
}

.selectClass {
    font-family: gotham_book!important;
    letter-spacing: 2px;
    padding-left: 1.5%!important
}

input:focus {
    box-shadow: 0 0 0!important;
    -webkit-box-shadow: 0 0 0!important;
    -moz-box-shadow: 0 0 0!important
}

.boxShadowNone {
    box-shadow: 0 0 0!important;
    -webkit-box-shadow: 0 0 0!important;
    -moz-box-shadow: 0 0 0!important
}

.bigTxtBox {
    width: 73.6%!important
}

#confirmBlock {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 0;
    box-shadow: 0 -5px 5px -5px #ccc
}

.firstView {
    overflow-y: scroll!important
}

.plusColor {
    color: #fff!important
}

.addButton {
    background-color: #FB637E!important;
    color: #fff!important;
    margin: 5% 6.25%!important
}

.alert_msg {
    margin-bottom: 19px;
    font-size: 12px;
    font-weight: 400!important;
    color: #4a4a4a;
    background-color: #fff4d6;
    border: solid 1px #FFC62C;
    width: 100%;
    height: 70px;
    text-align: left;
    font-family: gotham_light;
    padding: 8px 36px 8px 35px
}

input {
    border-radius: 2px!important
}

.lbl-decimal {
    margin-left: 2.2%
}

.marginBottom {
    margin-bottom: 4%
}

.labelBottom {
    margin-bottom: 6%!important
}

.bigInputBox {
    width: 72.72%!important
}

.rupeeBalance {
    color: #4a4a4a!important;
    font-family: gotham_medium!important;
    opacity: .8;
    margin-right: 0!important;
    text-align: right
}

.font-lbl {
    font-family: gotham_medium!important;
    font-weight: 700!important
}

.img_icon {
    color: #d0021b!important;
    margin-left: -1%!important
}

.margBottom {
    margin-bottom: 0!important
}

.topBottom {
    padding-top: 5%;
    padding-bottom: 5%
}

.formDiv {
    margin-left: 0!important
}

.ipWidth {
    width: 100%!important
}

.pay-btn-div {
    padding-top: 0!important
}

@media only screen and (max-device-width:240px) {
    .tableHeader {
        height: 37px;
        font-size: 8px
    }
    .fontSize {
        font-size: 9px!important
    }
    .label-font {
        font-size: 8px!important
    }
    .fontDetail {
        font-size: 11px!important
    }
    .ipClass {
        height: 36px!important
    }
    .labelClass {
        padding-bottom: 8px
    }
    .formTop {
        margin-top: 11px!important
    }
    .dueDt {
        top: -2px!important
    }
    .btnPay {
        height: 36px!important
    }
    .paybills-success-prm-button {
        height: 36px!important
    }
    .selectClass {
        font-size: 10px!important
    }
    .ipBoxes {
        font-size: 11px!important
    }
    .addButton {
        height: 36px!important
    }
    .firstView {
        height: 365px
    }
    .plusColor {
        font-size: 18px
    }
    .ipHeight {
        height: 36px!important
    }
    .ip-fontSize {
        font-size: 11px!important
    }
    .text-danger1 {
        font-size: 9px!important
    }
    .rupeeCustomClass {
        top: 51px!important
    }
    .rupeeCustom {
        top: 56px!important
    }
}

@media(min-device-width:320px) and (max-device-width:480px) {
    .tableHeader {
        height: 49px;
        font-size: 10.7px
    }
    .fontSize {
        font-size: 12px!important
    }
    .label-font {
        font-size: 10px!important
    }
    .fontDetail {
        font-size: 14px!important
    }
    .ipClass {
        height: 48px!important
    }
    .labelClass {
        padding-bottom: 8px
    }
    .formTop {
        margin-top: 15px!important
    }
    .dueDt {
        top: -2px!important
    }
    .btnPay {
        height: 48px!important
    }
    .paybills-success-prm-button {
        height: 48px!important
    }
    .selectClass {
        font-size: 13px!important
    }
    .ipBoxes {
        font-size: 15px!important
    }
    .addButton {
        height: 48px!important
    }
    .firstView {
        height: 486px
    }
    .plusColor {
        font-size: 24px
    }
    .ipHeight {
        height: 48px!important
    }
    .ip-fontSize {
        font-size: 16px!important
    }
    .text-danger1 {
        font-size: 12px!important
    }
    .rupeeCustomClass {
        top: 68px!important
    }
    .rupeeCustom {
        top: 75px!important
    }
}

@media(min-device-width:481px) and (max-device-width:640px) {
    .tableHeader {
        height: 74px;
        font-size: 16px
    }
    .fontSize {
        font-size: 18px!important
    }
    .label-font {
        font-size: 15px!important
    }
    .fontDetail {
        font-size: 21px!important
    }
    .ipClass {
        height: 72px!important
    }
    .labelClass {
        padding-bottom: 8px
    }
    .formTop {
        margin-top: 23px!important
    }
    .dueDt {
        top: -3px!important
    }
    .btnPay {
        height: 72px!important
    }
    .paybills-success-prm-button {
        height: 72px!important
    }
    .selectClass {
        font-size: 20px!important
    }
    .ipBoxes {
        font-size: 23px!important
    }
    .addButton {
        height: 72px!important
    }
    .firstView {
        height: 789px
    }
    .plusColor {
        font-size: 36px
    }
    .ipHeight {
        height: 72px!important
    }
    .ip-fontSize {
        font-size: 23px!important
    }
    .text-danger1 {
        font-size: 18px!important
    }
    .rupeeCustomClass {
        top: 102px!important
    }
    .rupeeCustom {
        top: 113px!important
    }
}

.RupeeSymbol {
    font-size: ï¿½21px!important;
    font-family: gotham_book;
    font-weight: 700;
    position: relative;
    top: 0
}

.amtDiv {
    font-size: 18px!important
}

.rupeeCustom {
    padding-left: 3%!important;
    position: absolute!important
}

.accNoLeft {
    padding-left: 3%!important
}

    .mailButton{
        background:url(../../../../features/[BBHOST]/theme-idfc/images/mailN.png) no-repeat top center;
            height: 29px;
            border: none;
    		width:29px;
    		margin:0 auto;
    		cursor: pointer;
    		display: block;
    }