<!-- Add NG Template here-->
<div class="" ng-if="mVisaPaymentCtrl.isCardMissmatch">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="f-left-width-100 horizontal-vertical-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="text-center otp-wrong-img-box"> <img src="static/features/[BBHOST]/theme-idfc/images/otp-wrong.PNG"></div>

                <div class="text-center">
                    <div class="f-weight-bold">
                        Something went wrong
                    </div>
                    <div>Merchant doesn’t seem to be accepting payments with card types held by you. Sorry for the inconvenience</div>

            </div>

        </div>
    </div>
        
</div>
<div class="f-left-width-100 horizontal-vertical-end">
            <button type="submit" class="btn btn-default grey-light-btn" ng-click="mVisaPaymentCtrl.gotoDashboard();">Back To Home</button>
        </div>

</div>

<div ng-if="!mVisaPaymentCtrl.isCardMissmatch">
<div class="row row-mobile">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="row top-padng otp-top-row-block" ng-if="mVisaPaymentCtrl.merchantInfo.entryType == 'Q'">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cont-txt-normal">To:</div>
	<div class="col-lg-11 col-md-11 col-sm-11 col-xs-8 cont-txt-bold store-space">{{mVisaPaymentCtrl.merchantInfo.merchantName}}</div>
	</div>
	<div class="row brd top-padng otp-top-row-block" ng-if="mVisaPaymentCtrl.merchantInfo.entryType == 'M'">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cont-txt-normal">To:</div>
	<div class="col-lg-11 col-md-11 col-sm-11 col-xs-8 store-space cont-txt-orange">{{mVisaPaymentCtrl.merchantInfo.mrchntId}}</div>
	</div>	
	<div class="row brd otp-top-row-block" ng-if="mVisaPaymentCtrl.merchantInfo.entryType == 'Q'">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-txt-orange">{{mVisaPaymentCtrl.merchantInfo.mrchntId}}</div>
	</div>
	<div class="row top-padng otp-top-row-block">
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cont-txt-normal">From:</div>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 cont-txt-bold left0">{{mVisaPaymentCtrl.accSummary.alias}}</div>
	</div>
	<div class="row otp-top-row-block">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-normal">Debit Card No<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-orange left0">{{mVisaPaymentCtrl.customerCardSummary.crdNb}}</div>
	</div>
		<div class="row otp-top-row-block">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Account Balance<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0 cont-txt-light">&#8377; {{mVisaPaymentCtrl.accSummary.effectiveAvailableBalance | currency:' '}}</div>
	</div>
		<div class="row brd ">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Account No<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0 cont-txt-light">{{mVisaPaymentCtrl.customerCardSummary.acctDtls[0].acctNb}}</div>
	</div>
		<div class="row top-padng otp-block-height">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Amount<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">&#8377; {{mVisaPaymentCtrl.merchantInfo.transactionAmount - (mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount?mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount:'0') | currency:' '}}</div>
	</div>
	
		<!--div class="row top-padng otp-block-height" ng-if="mVisaPaymentCtrl.merchantInfo.entryType == 'M'">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Amount<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">&#8377; {{mVisaPaymentCtrl.merchantInfo.transactionAmount - (mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount?mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount:'0') }}</div>
	</div-->	
	
		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Tip<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">&#8377; {{mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount?mVisaPaymentCtrl.merchantInfo.convenienceFeeAmount:'0' | currency:' '}}</div>
	</div>
		<div class="row otp-block-height ">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Remarks<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.remarks?mVisaPaymentCtrl.merchantInfo.remarks:'NA'}}</div>
	</div>
    <div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.billId" >
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Bill Number<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.billId?mVisaPaymentCtrl.merchantInfo.billId:'NA'}}</div>
	</div>
	
    <div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.mobileNumber" >
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Mobile Number<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.mobileNumber}}</div>
	</div>	
	
		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.storeId">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Store Number<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.storeId}}</div>
	</div>
	
		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.loyaltyNumber">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Loyalty Number<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.loyaltyNumber}}</div>
	</div>	
	
		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.referenceId">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Reference id<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.referenceId}}</div>
	</div>	

		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.consumerId">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Consumer id<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.consumerId}}</div>
	</div>	

		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.terminalId">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Terminal iD<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.terminalId}}</div>
	</div>	
	
		<div class="row otp-block-height " ng-if="mVisaPaymentCtrl.merchantInfo.purpose">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Purpose<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.purpose}}</div>
	</div>		
	
	<div class="row brd otp-block-height ">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 cont-txt-light">Date<span class="cont-float">:</span></div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 cont-txt-normal left0">{{mVisaPaymentCtrl.merchantInfo.trnDate}}</div>
	</div>
	<div class="row top-padng">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-txt-green" ng-if="success.happened"><span class="glyphicon glyphicon-ok"></span><br>
	{{success.msg}}</div>
	</div>
 	<!--div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-txt-red m-visa-error-block" ng-if="error.happened"><span class="glyphicon glyphicon-remove"></span><br>
	{{error.msg}}</div-->
 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cont-txt-red m-visa-error-block" ng-if="otpError.happened"><span class="glyphicon glyphicon-remove"></span><br>
	{{otpError.msg}}</div>	
	
	</div>
    </div>
</div>
<div class="row form-center" ng-if="!mVisaPaymentCtrl.isCardMissmatch">
    
        <div ng-if="!mVisaPaymentCtrl.isOTPSent" class="t-approval-btn-box top-padng">
            <!--button type="button" class="btn btn-default pink-btn" ng-click="mVisaPaymentCtrl.pay();">Submit</button-->
			<!-- Comment above line and uncomment below to enable OTP -->
            <button type="button" class="btn btn-default pink-btn" ng-click="mVisaPaymentCtrl.generateOTP('send');">Submit</button>
        </div>
    <form ng-if="mVisaPaymentCtrl.isOTPSent" class="transactio-otp-form" name="mobileMviseForm" ng-submit="mVisaPaymentCtrl.verifyOTP(mobileMviseForm.$valid);">
	    <h3 class="mobile-txt m-visa-account-selection">Mobile Number</h3>
        <div class="form-group">
          <input type="text" ng-model="mVisaPaymentCtrl.mvisaForm.customerMob" class="form-control" disabled required>
        </div>
		<div class="form-group" >
            <label for="email">OTP</label> <i class="lp-icon" tooltip="Please enter the 6 digit OTP we sent to your registered mobile number" tooltip-placement="bottom" ><img src="static/features/[BBHOST]/theme-idfc/images/info_xxxhdpi.png" width="15" height="15"></i>
            <input type="tel" name="otp_val" class="form-control mask-otp" ng-model="mVisaPaymentCtrl.mvisaForm.OTP" ng-pattern="/^[0-9]{6,6}$/" ng-minlength="6" ng-maxlength="6" autofill="off" autocorrect="off" autocapitalize="off" autocomplete="off" onpaste="return false;" onCopy="return false" onCut="return false" required="true" ng-disabled="mVisaPaymentCtrl.isAttemptthreeTimes">
			<div ng-show="submitted && mobileMviseForm.otp_val.$error.required" class="text-danger">OTP is required</div>
            <div ng-show="submitted && mobileMviseForm.otp_val.$error.pattern" class="text-danger">Please enter 6 digit valid value</div>
		</div>
        <div class="t-approval-btn-box">
            <button type="submit" class="btn btn-default pink-btn background-none" id="verifyOTP-btn-mvispaymnt" ng-disabled="mVisaPaymentCtrl.resendAttemptCount == 6 || mVisaPaymentCtrl.isAttemptthreeTimes" ng-click="submitted=true;">Submit </button>
        </div>
        <div class="t-approval-btn-box top-padng">
            <button type="button" class="btn btn-default grey-light-btn" ng-click="mVisaPaymentCtrl.resendOTP(); submitted=false;" ng-disabled="mVisaPaymentCtrl.resendAttemptCount == 6 || mVisaPaymentCtrl.isAttemptthreeTimes">Resend OTP</button>
        </div>
    </form>
<!--button type="button" class="btn btn-default pink-btn" ng-click="mVisaPaymentCtrl.goToBackPage();">Back</button-->
</div>
</div>
