<div class="lp-content-block lp-content-checklisttext">
    <div class="well well-small clearfix">
        <div class="lp-checklist-wrapper clearfix">
            <div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderOne}}</h4>
                    <div>{{{checklist.ContentOne}}}</div>
                </div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderTwo}}</h4>
                    <div>{{{checklist.ContentTwo}}}</div>
                </div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderThree}}</h4>
                    <div>{{{checklist.ContentThree}}}</div>
                </div>
            </div>

            <div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderFour}}</h4>
                    <div>{{{checklist.ContentFour}}}</div>
                </div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderFive}}</h4>
                    <div>{{{checklist.ContentFive}}}</div>
                </div>
                <div class="text-panel lp-checklist-area">
                    <span class="lp-icon-tick"></span>
                    <h4>{{checklist.HeaderSix}}</h4>
                    <div>{{{checklist.ContentSix}}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="lp-checklist-footnote">
        <p>{{checklist.Footnote}}</p>
    </div>

</div>