/* Build with bb-lp-cli @ v1.2.1 */
.lp-idfc-motor-insurance .motor-panel-footer-width {
    width: 160px;
}
.lp-idfc-motor-insurance .margin-auto {
    width: 100%;
    height: 42px;
    margin: 0 0 20px 0;
    background-color: #efeeff;
}
.lp-idfc-motor-insurance .allFontStyle {
    font-family: gotham_book !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #4a4a4a !important;
    width: 300px;
    height: 22px;
    margin: 9px 0 11px 0;
    text-align: center;
}
.lp-idfc-motor-insurance .car-image-div {
    border: 1px solid #fec52f;
    border-radius: 50%;
    height: 140px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -70px;
    width: 140px;
    background-color: white;
}
.lp-idfc-motor-insurance .car-image {
    margin: 47px 24px 47px 16px;
}
.lp-idfc-motor-insurance .car-insurance-panel {
    border: 1px solid #fec52f;
    margin: 90px 40px 0 40px;
    height: auto;
    text-align: center;
}
.lp-idfc-motor-insurance .car-text {
    font-family: gotham_medium !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: #4a4a4a !important;
    width: 223px;
    height: 32px;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.lp-idfc-motor-insurance .car-text-div {
    margin: 11px 0 4px 0;
}
.lp-idfc-motor-insurance .driveDiv {
    margin: 0 0 0 0;
}
.lp-idfc-motor-insurance .lightShadeFont {
    color: #797979 !important;
    font-family: gotham_book !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #4a4a4a !important;
    width: 562px;
    height: 18px;
    text-align: center;
}
.lp-idfc-motor-insurance .four-image-div {
    display: inline-block;
    margin-top: 36px;
    margin-bottom: 33px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%}
.lp-idfc-motor-insurance .motor-ins-panle-div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 24%}
.lp-idfc-motor-insurance .motor-ins-images {
    text-align: center;
    margin-bottom: 10px;
}
.lp-idfc-motor-insurance .motor-ins-panel-text {
    color: #4a4a4a;
    font-family: gotham_book !important;
    font-size: 14px !important;
    line-height: 18px !important;
    text-align: center;
    width: 150px;
    height: 36px;
}
.lp-idfc-motor-insurance .motorInsuranceBtnRow {
    background-color: #f9f7ef;
    border-top: #f9f7ef;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 80px;
}
.lp-idfc-motor-insurance .button-row button {
    width: 120px;
    height: 40px;
}
.lp-idfc-motor-insurance .bike-image {
    margin: 40px 19px 40px 21px;
}
.lp-idfc-motor-insurance .bike-text {
    font-family: gotham_medium !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: #4a4a4a !important;
    width: 357px;
    height: 32px;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.lp-idfc-motor-insurance .motor-panel-footer-text {
    color: #333333;
    font-family: gotham_book;
    font-size: 12px !important;
    line-height: 12px !important;
    text-align: center;
    height: 28px;
    vertical-align: top;
    width: 156px;
    cursor: pointer;
    cursor: hand;
}
.lp-idfc-motor-insurance .motor-insurance-panel {
    /*background-image: url("../../images/globalHeroImageGradiant.png");*/
	background-image: url("../images/globalHeroImageGradiant.png");
    height: 150px;
    text-align: center;
}
.lp-idfc-motor-insurance .motor-insurance-panel label {
    color: #fff;
    font-family: gotham_book !important;
    font-size: 24px !important;
    height: 64px;
    width: 700px;
    line-height: 32px !important;
    margin: 42px 0 43.8px 0;
    text-align: center !important;
}
.lp-idfc-motor-insurance .disclaimer-link {
    color: #fb637e;
    margin-left: 40%;
    cursor: pointer;
    cursor: hand;
    margin-bottom: 40px;
}
.lp-idfc-motor-insurance .motor-expert-text {
    color: #FB637E;
}
.lp-idfc-motor-insurance .expertNumberDiv {
    margin-top: -10% !important;
}
.lp-idfc-motor-insurance body.modal-open {
    overflow: visible;
}
.lp-idfc-motor-insurance .motor-car-first-panel {
    margin: auto;
}
.lp-idfc-motor-insurance .motor-ins-text-head {
    text-align: center;
}
.lp-idfc-motor-insurance .motor-insurance-panel-footer {
    margin: auto;
    text-align: center;
}
.lp-idfc-motor-insurance .motor-panel-footer-image {
    height: 70px;
    margin-bottom: 20px;
}
.lp-idfc-motor-insurance .motor-panel-footer {
    margin: 0 0 15px;
    width: 19%;
    display: inline-block;
}
.lp-idfc-motor-insurance .motor-footer {
    display: inline-block;
    margin: 50px 20px 0;
}
.lp-idfc-motor-insurance .heading_margin {
    margin-bottom: 3%;
    padding-top: 1%;
    background-color: #efeeff;
}
.lp-idfc-motor-insurance .motorMobile {
    display: none;
	padding-top: 23px;
}
.lp-idfc-motor-insurance .motorDesktop {
    display: block;
}
@media only screen and (min-width:240px) and (max-width:480px) {
    .lp-idfc-motor-insurance .car-image-div {
    border: 1px solid #fec52f;
    border-radius: 50%;
    height: 100px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -50px;
    width: 100px;
    background-color: white;
}
.lp-idfc-motor-insurance .car-image {
    margin: 33px 14px 33px 14px;
    height: 34px;
}
.lp-idfc-motor-insurance .bike-image {
    margin: 30px 17px 30px 17px;
    height: 40px;
}
.lp-idfc-motor-insurance .car-insurance-panel {
    border: 1px solid #fec52f;
    margin: 69px 20px 30px 20px;
    height: 540px;
}
.lp-idfc-motor-insurance .car-text-div {
    margin: 10px 0 0 0;
}
.lp-idfc-motor-insurance .car-text {
    font-family: gotham_medium !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: #4a4a4a !important;
    width: 223px;
    height: 32px;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.lp-idfc-motor-insurance .driveDiv {
    margin: 0 29px 0 44px;
}
.lp-idfc-motor-insurance .lightShadeFont {
    color: #797979 !important;
    font-family: gotham_book !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #4a4a4a !important;
    width: 223px;
    height: 18px;
    text-align: center;
}
.lp-idfc-motor-insurance .motor-ins-panle-div-hand {
    text-align: center;
    margin-left: 10px;
    float: left;
    margin-bottom: 20px;
}
.lp-idfc-motor-insurance .motor-ins-panle-div-garage {
    text-align: center;
    margin-left: 0;
    margin-right: 10px;
    float: right;
    margin-bottom: 20px;
}
.lp-idfc-motor-insurance .motor-ins-panle-div-gift {
    text-align: center;
    margin-left: 10px;
    float: left;
}
.lp-idfc-motor-insurance .motor-ins-panle-div-assistance {
    text-align: center;
    margin-left: 0;
    margin-right: 10px;
    float: right;
}
.lp-idfc-motor-insurance .four-image-div {
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.lp-idfc-motor-insurance .motor-mobile-images {
    height: 50px;
}
.lp-idfc-motor-insurance .motor-ins-panel-text {
    color: #4a4a4a;
    font-family: gotham_book !important;
    font-size: 12px !important;
    line-height: 16px !important;
    text-align: center;
    width: 125px;
    height: 32px;
}
.lp-idfc-motor-insurance .motorInsuranceBtnRow {
    background-color: #f9f7ef;
    border-top: #f9f7ef;
    margin-left: 0;
    margin-right: 0;
    margin-top: 258px;
    height: 164px;
}
.lp-idfc-motor-insurance .button-row button {
    width: 240px;
    height: 48px;
}
.lp-idfc-motor-insurance .bike-text {
    font-family: gotham_medium !important;
    font-size: 16px !important;
    line-height: 32px !important;
    color: #4a4a4a !important;
    width: 271px;
    height: 32px;
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.lp-idfc-motor-insurance .motor-insurance-panel label {
    color: #fff;
    font-family: gotham_book !important;
    font-size: 18px !important;
    line-height: 22px !important;
    margin: 40px 0 44px 0;
    text-align: center;
    height: 66px;
    width: 320px;
}
.lp-idfc-motor-insurance .disclaimer-link {
    color: #fb637e;
    /*margin-left: 25%;*/
	margin-left: 0;
    font-family: gotham_book !important;
    font-size: 12px !important;
    cursor: pointer;
    cursor: hand;
}
.lp-idfc-motor-insurance .motorMobile {
    display: block;
}
.lp-idfc-motor-insurance .motorDesktop {
    display: none;
}
.lp-idfc-motor-insurance .motorInsuranceBtn {
    width: 100%}
.lp-idfc-motor-insurance .motor-ins-panle-div {
    width: 44%}
.lp-idfc-motor-insurance .allFontStyle {
    font-family: gotham_book !important;
    font-size: 12px !important;
    color: #4a4a4a !important;
}
.lp-idfc-motor-insurance .motor-panel-footer-image {
    margin-bottom: 20px;
    height: 40px;
}
.lp-idfc-motor-insurance .motor-panel-footer-text {
    color: #4a4a4a;
    font-family: gotham_medium !important;
    font-size: 10px !important;
    line-height: 12px !important;
    text-align: center;
    vertical-align: top;
    width: 190px;
    cursor: pointer;
    cursor: hand;
}
.lp-idfc-motor-insurance .motor-panel-footer {
    
    margin: 0 0 0;
    width: 31%}
.lp-idfc-motor-insurance .marginLeft {
    /*margin-left: 13%*/}
.lp-idfc-motor-insurance .motor-footer {
    display: block;
    margin: 0px auto;
}
.lp-idfc-motor-insurance .motor-expert-text {
    color: #FB637E;
    font-size: 10px !important;
}
}@media only screen and (min-width:280px) and (max-width:340px) {
    .lp-idfc-motor-insurance .driveDiv {
    margin: 0 29px 0 28px;
}
}@media only screen and (min-width:768px) and (max-width:800px) {
    .lp-idfc-motor-insurance .col-sm-7 {
    width: 100%}
}.lp-idfc-motor-insurance .cursor-none {
    cursor: default;
}
.lp-idfc-motor-insurance .motorButton {
    margin-top: -7px;
    float: right;
}
.lp-idfc-motor-insurance .motorpopupHeader {
    color: #ffffff !important;
    background-color: #996699 !important;
    border-color: #996699 !important;
}
.lp-idfc-motor-insurance .motorpopupHeader .close {
    position: relative;
    left: -17px;
    color: white;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    opacity: 1;
    font-style: normal;
}
.lp-idfc-motor-insurance .motorpopupHeader label {
    font-weight: bold !important;
    padding-top: 20px !important;
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}
.lp-idfc-motor-insurance .motormodal {
    display: none;
    position: fixed;
    z-index: 50;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
.lp-idfc-motor-insurance .motormodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s;
}
@media only screen and (max-width:480px) and (min-width:320px) {
    .lp-idfc-motor-insurance .motormodal {
    display: none;
    position: fixed;
    z-index: 50;
    padding-top: 130px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
.lp-idfc-motor-insurance .motormodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: .4s;
    animation-name: animatetop;
    animation-duration: .4s;
}
}@-webkit-keyframes animatetop {
    from {
    top: -300px;
    opacity: 0;
}
to {
    top: 0;
    opacity: 1;
}
}@keyframes animatetop {
    from {
    top: -300px;
    opacity: 0;
}
to {
    top: 0;
    opacity: 1;
}
}.lp-idfc-motor-insurance .motormodal-close {
    color: white;
    float: right;
    font-size: 22px;
    font-weight: bold;
    left: -14px;
    position: relative;
    top: -37px;
}
.lp-idfc-motor-insurance .motormodal-close:hover, .lp-idfc-motor-insurance .motormodal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.lp-idfc-motor-insurance .motormodal-header {
    color: #ffffff !important;
    background-color: #996699 !important;
    border-color: #996699 !important;
}
.lp-idfc-motor-insurance .motormodal-body {
    overflow-y: auto !important;
    font-family: Helvetica !important;
    font-weight: normal;
	margin: 10px;
}
.lp-idfc-motor-insurance .motormodal-footer {
    height: 65px;
    padding: 22px 12px;
	text-align: left;
    position: relative;
    right: 25px;
}
.four-image-div > div.motor-ins-panle-div:nth-child(3n) {
    clear: left;
}
.btn-pop-center .secondary-btn-btn {
	    /*background-color: #a7a7a7 !important;*/
		color: #000;
		background-color: #e7e7e7 !important;		
}
.btn-pop-center {
    display: flex;
    justify-content: center;
}
.motorMobile .primary-btn-btn {
    margin-right: 0px !important;
}
.motorMobile .secondary-btn-btn {
	margin-right: 0px !important;
    color: #000;
    background-color: #e7e7e7 !important;	
}

.disclaimer-txt {
    text-align: center;
    padding-top: 13px;
}
/*# sourceMappingURL=base.css.map */