/* Build with bb-lp-cli @ v1.1.0 */

.lp-idfc-loan-soa {
    width: auto !important;
    margin: 0 auto
}
.recurringDepositDiv {
    display: none
}
.lp-custom-external-accounts .panel {
    border: 0;
    margin: 0
}
.lp-custom-external-accounts .panel-body.fi-list {
    padding: 0
}
.lp-custom-external-accounts .list-group {
    margin: 0;
    border-radius: 0
}
.lp-custom-external-accounts .list-group .list-group-item {
    margin: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    position: relative;
    top: 0
}
.lp-custom-external-accounts .transitioning {
    z-index: 10
}
.lp-custom-external-accounts .transitioning .h4 {
    font-size: 18px
}
.transition-fi {
    -moz-transition: top .8s, height .8s;
    -webkit-transition: top .8s, height .8s;
    -o-transition: top .8s, height .8s;
    transition: top .8s, height .8s
}
.lp-custom-external-accounts .fi-icon {
    font-size: 30px
}
.lp-custom-external-accounts .panel-heading.context {
    padding: 0 15px;
    border-bottom: 0
}
.lp-custom-external-accounts .selected-fi {
    min-height: 65px
}
.lp-custom-external-accounts .panel-heading.selected-fi {
    padding-left: 0;
    padding-right: 0
}
.lp-custom-external-accounts .alert {
    margin-bottom: 0
}
.lp-custom-external-accounts .selected-fi i {
    font-size: 30px
}
.lp-custom-external-accounts .btn-filter {
    margin-top: 10px;
    min-height: 55px;
    overflow: hidden;
    padding: 6px 0
}
@media (max-width: 992px) {
    .lp-custom-external-accounts .btn-filter {
        min-height: 90px
    }
}
.lp-custom-external-accounts .filter-row {
    height: 50%
}
.lp-custom-external-accounts .filter-row i {
    font-size: 30px
}
.lp-custom-external-accounts .filter-row.push {
    margin-top: 6px
}
.lp-custom-external-accounts .filters {
    margin-top: 10px
}
.lp-custom-external-accounts .connection-feedback {
    height: 80px
}
.ft-text {
    padding-left: 10px;
    font-size: 12px !important;
    font-weight: bold
}
.btn-primary {
    color: #ffffff;
    border-color: #2e6da4;
    background-color: #FB637E !important;
    font-family: gotham_book !important;
    font-size: 13px!important;
    border-style: none !important;

}
.label-soa {
    font-size: 14px !important;
    font-family: gotham_book !important;
    color: rgba(74, 74, 74, 1);
}
.label-from {
    font-size: 16px !important;
    font-family: gotham_book, Calibri !important;
    font-weight: normal
}
.soa-submit-height {
    height: 35px;
    width: 100% !important;
    padding: 0px !important;
    border: solid 1px #fb637e !important;
    font-size: 14px!important;
    font-family: gotham_book!important;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 2px !important;

}
.label-to {
    font-size: 16px !important;
    font-family: gotham_book, Calibri !important;
    font-weight: normal;
    width: 100px
}
.li-from-inbox input {
    height: 40px !important;
    width: 200px !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
    letter-spacing: 2px;
    font-size: 14px !important;
    line-height: 12px;
    color: #4a4a4a;
    font-weight: normal;
    padding-left: 5%;
    margin-left: -5%
}
.li-to-inbox input {
    height: 40px !important;
    width: 200px !important;
    border: 1px solid #cccccc !important;
    border-radius: 4px !important;
    letter-spacing: 2px;
    font-size: 14px !important;
    line-height: 12px;
    color: #4a4a4a;
    font-weight: normal;
    padding-left: 5%;
    margin-left: -5%
}
.date_select {
    width: 22% !important
}
.soa-selectaccount {
    width: 200px !important;
    height: 40px !important;
    padding: 0;
    font-weight: normal;
    font-size: 14px !important;
    color: #4a4a4a !important
}
.lp-icon-calendar:before {
    content: "\e636" !important
}
.dt-cal-icon-from {
    position: relative;
    top: 8px;
    margin-left: -18px;
    z-index: 10;
    cursor: pointer
}
.lp-icon {
    vertical-align: middle;
    color: #FB637E !important
}

/*Made changes to display table as LAP SOA   // Jay */

/*.table-td {
    font-size: 14px !important;
    font_family: gotham_book, Calibri !important;
    font-weight: normal
}*/
.lp-loan-acc-div {
    margin-top: 1%
}
.lp-soa-main-page {
    margin-left: 4%
}
.soa-show-more-link {
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    padding-top: 1%
}

.btn-loadMore{
    background-color: rgba(221,227,233,1) !important;
    height: 30px;
    width: 150px;
    box-shadow:none;
    border-radius: 0px;
    color:rgba(251,99,126,1);
}

.submit-btn-soa {
    background: #FB637E !important;
    color: #ffffff !important;
    font-size: 15px !important;
    height: 40px !important;
    padding-top: 10px !important;
    margin-left: 34% !important;
    margin-top: 4% !important
}
/*.table-headers {
    height: 50px !important
}*/

.max-width-250pix{
  max-width: 250px;
}
.max-width-220pix{
  max-width: 220px;
}
.min-width-100pix{
  min-width: 100px;
}
/*
.t-date {
    font-weight: bold;
    font-family: gotham_book, Calibri !important;
    font-size: 14px !important;
    text-align: left;
    background-color: #ddb8dd ! important;
    text-indent: 10px !important
}
.particular {
    font-weight: bold;
    font-family: gotham_book, Calibri !important;
    font-size: 14px !important;
    text-align: left;
    background-color: #ddb8dd ! important
}
.d-amount {
    font-weight: bold;
    font-family: gotham_book, Calibri !important;
    font-size: 14px !important;
    text-align: right;
    background-color: #ddb8dd ! important
}
.c-amount {
    font-weight: bold;
    font-family: gotham_book, Calibri !important;
    font-size: 14px !important;
    text-align: right;
    background-color: #ddb8dd ! important
}
.c-balance {
    font-weight: bold;
    font-family: gotham_book, Calibri !important;
    font-size: 14px !important;
    text-align: right;
    background-color: #ddb8dd ! important
}
*/
.txnDt-style {
    text-align: left !important
}
/*.table-show {
    border-collapse: collapse;
    border-spacing: 0
}
.table-horizontal tbody td {
    border-left: none;
    border-right: none;
    text-align: right;
    min-width: 100px
}
*/

.lbl-account-list {
    font-size: 14px !important;
    font-family: gotham_book, Calibri !important;
    line-height: 15px !important;
    color: #1D1D26 !important
}
.error-class {
    text-align: left;
    margin-bottom: 3%
}
.select-account-div {
    margin-top: 2% !important
}
.table-striped>tbody>tr:nth-child(odd) {
    background: #F3F3F3 !important
}
.table-striped>tbody>tr:nth-child(even) {
    background: #e5e5e5 !important
}
@media (max-width: 768px) {
    .mobileFixLabel {
        width: 100%;
        float: left !important
    }
    .mobileFixDate {
        float: left;
        width: 100%;
        margin-bottom: 10px
    }
    .mobileFixFloatRight {
        float: right;
    }

    .mobileFixTopPadding1em {
        padding-top:1em;
    }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .select-account-div {
        margin-top: 10% !important
    }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 1030px) and (-webkit-min-device-pixel-ratio: 2) {
    .submit-btn-soa {
        margin-left: 125%;
        margin-top: -40%
    }
    .cal-style {
        left: 126%;
        top: -34px
    }
    .to-icon {
        margin-left: -12% !important
    }
    .from-icon {
        margin-left: -12% !important
    }
    .li-to-inbox input {
        margin-left: 50%;
        margin-top: -20%
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 949px) {
    .soa-selectaccount {
        margin-left: 45%;
        margin-top: -3%
    }
}
@media only screen and (min-device-width: 949px) and (max-device-width: 1200px) {
    .soa-selectaccount {
        margin-left: 35%;
        margin-top: -3%
    }
}
@media (max-width: 767px) {
    .soa-selectaccount {
        margin-left: 1px;
        margin-top: 1px
    }
}
@media (min-width: 768px) and (max-width: 1366px) {
    .soa-selectaccount {
        margin-left: 25%;
        margin-top: -3%
    }
}
.successEmailMsg {
    text-align: center !important;
    font-weight: bold;
    font-size: medium;
    padding:1em;
}
.container-input-soa {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.container-input-soa .input-boxes {
    margin-bottom: 14px;
}
.container-input-soa .span-font {
    font-size: 16px;
    font-family: gotham_book, Calibri !important;
    line-height: 33px;
    font-weight: normal
}
.rep-acc-date-inputfeild {
    padding:0 12px!important;
    border-radius: 2px;
    border: solid 1px #c8cccf;
    color: rgba(74, 74, 74, 1)!important;
    outline: 0;
    text-decoration: none;
    width:100%!important;
    margin: 0;
    line-height: 40px!important;
    height:40px!important;
   	-moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size:12px;
}
.cal-icon-position-homesoa {
    right:26px;
    position: absolute;
    top: 35%;
}
.idfcSubmitButton {
    margin-left: 30px;
    background-color: #fb637e !important;
    color: #FFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
    padding: 10px
}
.rep-account-request-input {

    height: 36px !important;
    border-radius: 0px;

}
@media (max-width: 768px) {
    .rep-account-request-input {
        width: 95% !important
    }
    .rep-acc-date-inputfeild {
        width: 95%
    }
    .idfcSubmitButton {
        width: 95%;
        margin-left: 0
    }
    .container-input-soa .span-font {
        line-height: inherit
    }
    .mob-scroll {
        overflow-x: scroll
    }
}
@media (min-width: 768px) {
    .container-input-soa .to-date-desk {
        margin-left: 140px;
        top: -40px
    }
}

.soa-table {
    width: 109%;
    border-spacing: 10px;
    text-align: left !important;
    color: #333333;
    margin-left: -15px;

}
.soa-widget-body {
    min-height: 150px
}

.btn-whitePop-Soa{
  color:#fe4575!important;
  background-color:#eaeaea;
  font-size:12px;
  /*margin-left:1em;*/
  padding: 6px;
  border:1px solid #eaeaea;
  width: auto !important;
  margin-left: 5% !important;
  padding-left: 0px !important;
}
.footerButton {
    /*padding-top:1em!important;*/
    width: auto !important;
    padding-right: 0.1em;
    padding-left: 0.1em;
    float: right;
}

.showMoreBtn-lf{
	margin-left: 2%;
}


.width-Soa{
	width:auto;
	float:left;
}

/*
.soa-panel-body {
    padding: 15px
}
*/
@media (min-width: 992px) {
    .col-md-2.soa-toDate {
        width: 11.666667%
    }
}
.soa-transaction-msg {
    text-align: center;
    font-weight: bold !important
}
/*# sourceMappingURL=base.css.map */




/* Neha Chandak - 6/12/16*/ 
/*.loan-yellow-bg{
    background-color: rgba(255, 239, 192, 0.6);
    padding: 30px 5% 29px 1.2%;
    margin: 0 auto;
    width: 100%;
};*/

/*made change for mobile UI
    jay
 */

.loan-yellow-bg{
    padding: 5% 3% 5% 2%;
    margin: 0 auto;
    width: 83%;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.select-grey-color{
    color: grey;
}


.bg-yellow{
   background-color: rgba(255,239,192,1);
}

.bg-paltinum{
    background-color: rgba(234,234,234,0,5);
}

.color-pink{
    color: rgba(251,99,126,1);
}

.color-red{
    color: rgba(255,0,0,1);
}

.color-green{
    color: rgba(65,117,5,1);
}

.color-dark-gray{
    color: rgba(74,74,74,1);
}

/*mobile vd table header color black*/
.color-header-white{
    color: white;
}

.color-light-gray-bg{
    background-color: rgba(234, 234, 234, 0.5);
}

/*mobile vd table header backgroud color black*/

.color-black-bg{
    background-color: black;
}

.color-white-bg{
    background-color: white !important;
}

.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}

.font-15{
    font-size: 15px;
}

.font-14{
    font-size: 14px !important;
}

.font-12{
    font-size: 12px !important;
}

.font-10{
    font-size: 10px;
}

.font-light{
    font-family: Gotham_Light !important;
    font-weight: normal !important;
}

.font-medium{
    font-family: Gotham_Medium !important;
    font-weight: normal !important;
}

.font-book{
    font-family: Gotham_Book !important;
    font-weight: normal !important;
}

.line-height-36{
    line-height: 36px;
}

.padding-l2percent{
    padding-left: 2% !important;
}

.padding-r2percent{
    padding-right: 2% !important;
}

.padding-r5percent{
    padding-right: 5% !important;
}

.padding-top-10px{
    padding-top: 10px !important;
}

.padding-bottom-20px{
    padding-bottom: 20px !important;
}

.padding-20px{
    padding: 20px !important;
}

.padding-right-25px{
  padding-right:20px;
}

.control-label-home{
    line-height: 36px !important;
    padding-left: 0;
    height: 3em;
    font-size: 13px!important;
    padding-right: 5px !important;
}

.form-control{
    padding:o 12px;
    border-radius: 2px;
    border: solid 1px #c8cccf;
    color:rgba(74, 74, 74, 1)!important;
    display: block;
    outline: 0;
    text-decoration: none;
    margin:0;
}

.input-box-width{
   width: 100% !important;
}
.padding-0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.line-height-40{
    line-height: 40px !important;
}

.table-idfc-gen-tr {
    border-bottom: 1px solid rgba(216,216,216,1) !important;
    height: 35px;
    background-color: white !important;
    cursor: default !important;
}



.mailButton{
    background:url(../../../../features/[BBHOST]/theme-idfc/images/email.png) no-repeat top center;
    background-size: contain;
        height: 48px;
        border: none;
		/*float:left;*/
		width:38px;
		margin:15% 0em 19px 0em;
}
.printButton{
    background:url(../../../../features/[BBHOST]/theme-idfc/images/print.png) no-repeat top center;
        height: 20px;
        border: none;
		float:left;
		width:20px;
		margin:23px 1.2em 19px 0em;
}
.downButton{
    background:url(../../../../features/[BBHOST]/theme-idfc/images/down.png) no-repeat top center;
        height: 20px;
        border: none;
		float:left;
		width:20px;
		margin:23px 1.2em 19px 0;
}

.cursor-pointer{
  cursor: pointer;
}

@media only screen and (max-width: 998px){
    .col-sm-7 {
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    .margin-top-18{
	   margin-top:1.8em;
    }
}

/*@media only screen and (max-width: 1300px){
    .soa-submit-height {
        width: 65px!important;
    }
}
*/

/*only applies to xs devices */
@media (max-width:767px){
    .line-height-40{
        line-height: 20px !important;
            padding-top: 10px;
    }
    .input-box-width{
        width: 100% !important;
    }
    .text-left-xs{
        text-align: left !important;
    }
    .padding-top-10px{
        padding-top: 0px !important;
    }
}


/*New CSS  Need to display SOA page as per LAP SOA UI   // Jay */


.bg-yellow{
    background-color: rgba(255, 239, 192, 0.6);
}
/* 
table responsive
*/
.table-bordered table { 
    width: 100%; 
    border-collapse: collapse; 
}
/* Zebra striping */
.table-bordered tr:nth-of-type(odd) { 
    background: #fdfdfd!important; 
}
.table-bordered th { 
    background:rgba(255, 239, 192, 1); 
    color:#393939; 
    font-weight: bold; 
    }
.table-bordered  td{ 
     padding:1.3em 2% 1.3em!important; 
    border-bottom: 1px solid #f4f4f4!important;  
    border-left: none!important;  
    border-right:none!important;  
    padding-left: 12px!important;
    font-weight:normal;
    text-align: center; 
    background-color:#ffffff;
    font-size:0.85em;
    color:rgba(74, 74, 74, 1);
    font-family: gotham_book,Calibri !important;
    width: auto;
}

.table-bordered th {
    /* padding: 1.3em 3.5% 1.3em!important;  */
    /* padding-right: 4px!important; */
    border-bottom: 1px solid #f4f4f4!important;
    border-left: 1px solid #f4f4f4!important;
    border-right: 1px solid #ffffff!important;
    border-top: 1px solid #fcfcda!important;
    text-align: center;
    height: 40px;
    font-size: 1em !important;
    color: rgba(74, 74, 74, 1);
    font-family: gotham_medium !important;
    font-weight: normal !important;
    
}
.text-align-right {
        text-align:right!important;
}
.amt-align {
        padding-right:26px !important;
}       
.date-align {
        padding-left:6px !important;
}

.th-date-width {
    width:25%!important;
    padding-left: 17px!important;
}
.th-des-width {
    width:40%!important;
}
.th-amt-width {
    width:35%!important;
}

.transaction-date-align{
    text-align: center !important;    
}

.soa-table-hl-topbtm{
       padding-top: 1.3em !important;
       padding-bottom:1.3em !important; 

}

.soa-table-desc-hl{
     padding-left:20px !important;  
}

tr.table-headers{
    padding: 1.3em 3% 1.3em !important;
    border-bottom: 1px solid #f4f4f4!important;
    border-left: 1px solid #f4f4f4!important;
    border-right: 1px solid #ffffff!important;
    border-top: 1px solid #fcfcda!important;
    text-align: left;
    height: 40px;
    font-size: 0.75em;
    color: rgba(74, 74, 74, 1);
    font-family: gotham_medium !important;
    font-weight: normal;
}
.table-header-yellow{
    background-color: rgba(255, 239, 192, 1);
    color: black;
}


.soaAmtRed{
    color:rgba(208, 2, 27, 1)!important;
}
.soaAmtGreen{
    color:rgba(65, 117, 5, 1)!important;
}

.cr-symbol-span:before {
  content: "\002D";
}
.cr-symbol-span {
    font-family:webrupee !important;
    display:inline;
    /*margin-right:5px !important;ok*/
    font-size: 11px;
    text-align: right;
    font-weight: bold;
}

.db-symbol-span:before {
  content: "\002B";
}
.db-symbol-span {
    font-family:webrupee !important;
    display:inline;
    /*margin-right:5px !important;ok*/
    font-size: 11px;
    text-align: right;
    font-weight: bold;
}

.margin-right-1-per{
    margin-right: 1% !important;
}
.margin-right-0{
    margin-right: 0 !important;
}

.text-right{
    text-align: right !important;
}

/*for tooltip on home saver mail icon jay homesaver mobile banking*/
.tooltip-inner {
    position: absolute!important;
    width: 160px!important;
    max-width: 160px!important;
    height: auto;
    margin-left: -79px!important;
    top: 33px!important;
    background-color: #c6cfd9!important;
    color: #4a4a4a!important;
    font-size: 10px;
    font-family: gotham_book!important
}
.tooltip.top .tooltip-arrow {
    margin-left: -5px!important;
    top: 28px!important;
    bottom: -38px;
    border-top-color: #c6cfd9!important;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg)
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #c6cfd9!important
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #c6cfd9!important
}
.tooltip.right .tooltip-arrow {
    border-right-color: #c6cfd9!important
}
.tooltip.left .tooltip-arrow {
    border-left-color: #c6cfd9!important
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #c6cfd9!important
}
.customCircle {
    box-shadow: 0 0 2px #FB637E;
    color: #FB637E!important;
    box-sizing: border-box;
    border: 1px solid #FB637E;
    margin-left: 2px
}
.restrictHorizontal{
width:100%;
overflow-x:hidden;
}

.lp-icon-angle-right:before {
    color: #fb637e !important;
    font-size: 13px;
}

.lp-icon-angle-left:before {
    color: #fb637e ! important;
    font-size: 13px;
}


/*
@media (min-width: 768px) {
    .col-sm-20 {
        width: 20%;
    }
    .col-sm-23{
        width: 23%;
    }

    .cal-icon-position {
        margin-left: -28px;
        position: relative;
        top: -6px;
    }


}
@media (min-width: 992px) {
    .cal-icon-position {
        margin-left: -28px;
        position: relative;
        top: -6px;
    }


}

@media (min-width: 1200px) {
    .col-lg-20 {
        width: 20%;
    }

    .col-sm-3.col-xs-12.col-centered {
        width: 21%;
    }
    .col-md-3.col-lg-3.col-xs-12.line-height-36{
         width: 21%;
    }
    .cal-icon-position {
        margin-left: 194px;
        position: relative;
        top: -49px;
    }

}

@media only screen and (max-width: 998px){
    .col-sm-7 {
        width: 100%;
    }
}
*/

/*# sourceMappingURL=base.css.map */
