<div class="lp-promo-content lp-promo-slide clearfix current">
    <div class="lp-content-image-area lp-background-image">
        <img class="bg-image" src="{{banner.ImageOne.path}}" alt="" />
    </div>
    <div class="lp-content-text-area">
        <h1>{{banner.TitleOne}}</h1>
        <div class="lp-tagline-banner">{{{banner.SubTitleOne}}}</div>
        <div>{{{banner.DescriptionOne}}}</div>
        <a class="btn btn-primary" href="{{banner.LinkOne.path}}">{{banner.LinkOneText}}</a>
    </div>
</div>